/*css variable declaration*/
* {
    -fx-primary: #2A2E37;
    -fx-secondary: #00A4F6;
    -fx-primarytext: #B2B2B2;
    -fx-error: #FF0400;
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon{
    -fx-fill: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 13pt;
    -jfx-focus-color: -fx-secondary;
}

.invalid-input{
    -jfx-unfocus-color: -fx-error;
    -jfx-focus-color: -fx-error;
}